@model SymHack.Models.OptionsViewModel

<div hidden id="frameContainer"><div id="frame"></div></div>

@if (Model.Style != "mute")
{
    <script>
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;
        function onPlayerReady(e) {
            e.target.setVolume(@Model.Volume);
            e.target.playVideo();
        }

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('frame',
                {
                    height: '360',
                    width: '515',
                    videoId: '@Model.Style',
                    playerVars: {
                        playlist: '@Model.Style',
                        loop: 1,
                        controls: 0
                    },
                    events: {
                        'onReady': onPlayerReady,
                    }
                });
        }
    </script>
}