@using System.Text.RegularExpressions
@model string

@{
    String pattern = @"{""prefix"":""(.+?)"",""input"":""(.+?)"",""output"":""(.+?)""}";
    foreach (Match m in Regex.Matches(Model, pattern))
    {
        <li class="input-group col-md-12 console">
            <span class="input-group-addon" readonly>@m.Groups[1].Value</span>
            <input class="form-control console-input" value="@m.Groups[2].Value"/>
        </li>
        <li class="input-group col-md-12 console">
            <textarea class="form-control console-input" readonly></textarea>
            <script>$("textarea:last").val("@m.Groups[3].Value");</script>
        </li>
    }
}