<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c581be08-dccf-468b-8f3f-b08f91b8dcda/resourcegroups/capstone/providers/Microsoft.Web/sites/SymHack20180928125103</ResourceId>
    <ResourceGroup>capstone</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://symhack20180928125103.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>symhack20180928125103.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SymHack20180928125103</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SymHack20180928125103</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="symhackcontext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:symhackdbserver.database.windows.net,1433;Initial Catalog=SymHackContext;User ID=eb@symhackdbserver;Password=Mohawk123" Name="Data Source=tcp:symhackdbserver.database.windows.net,1433;Initial Catalog=SymHackContext;User Id=eb@symhackdbserver;Password=Mohawk123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SymHack.Repository.SymHackContext, SymHack.Repository" MigrationConfiguration="SymHack.Repository.Migrations.Configuration, SymHack.Repository" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:symhackdbserver.database.windows.net,1433;Initial Catalog=SymHackContext;User ID=eb@symhackdbserver;Password=Mohawk123" Name="Data Source=tcp:symhackdbserver.database.windows.net,1433;Initial Catalog=SymHackContext;User Id=eb@symhackdbserver;Password=Mohawk123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SymHack-20180927042813.mdf;Initial Catalog=aspnet-SymHack-20180927042813;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SymHack-20180927042813.mdf;Initial Catalog=aspnet-SymHack-20180927042813;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:symhackdbserver.database.windows.net,1433;Initial Catalog=SymHackContext;User Id=eb@symhackdbserver;Password=Mohawk123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="symhackcontext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:symhackdbserver.database.windows.net,1433;Initial Catalog=SymHackContext;User Id=eb@symhackdbserver;Password=Mohawk123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="symhackcontext" />
  </ItemGroup>
</Project>